:root{
  --parimarybg: rgb(214, 214, 214);
}

body {
  margin: 0;
  background-color: var(--parimarybg);
  height: 100vh
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}